@font-face {
    font-family: OldeEnglishRegular;
    src: url(OldeEnglishRegular.ttf);
}

html {
    font-family: OldeEnglishRegular;
    margin: 0;
    /* background: linear-gradient(#000046, #1CB5E0); */
}

body {
    font-family: OldeEnglishRegular;  
    margin: 0;  
}

h1 {
    font-family: "OldeEnglishRegular"; 
}

