.signup-form-wrapper {
    padding: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hey{
    background-color: pink;
    width: 500px;
}